<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investify</title>
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/sidebar.css">
    <link rel="stylesheet" href="./assets/styles/layout.css">
    <link rel="stylesheet" href="./assets/styles/footer.css">
    <link rel="stylesheet" href="./assets/styles/home.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="./assets/scripts/home.js" type="module" defer></script>
    <script src="https://kit.fontawesome.com/21ac4c37bd.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="layout has-sidebar fixed-sidebar fixed-header">
      <div id="sidebar-component"></div>
      <div class="column expand">
        <div class="flex column div-spacing margin-wrapper">
          <div class="wallet-summary-container margin-bottom" id="wallet-summary">
            <h1>Total Funds: <span class="balance-digits"><i class="fa-solid fa-spinner fa-spin-pulse fa-2xs"></i></span></h1>
            <h2>Invested Funds: <span class="balance-digits"><i class="fa-solid fa-spinner fa-spin-pulse fa-2xs"></i></span></h2>
            <h3>Idle Funds: <span class="balance-digits"><i class="fa-solid fa-spinner fa-spin-pulse fa-2xs"></i></span></h3>
          </div>
          <div class="flex row container-wrap">
            <div class="video-container margin-bottom">
              <h1>Live News</h1>
              <div class="controls flex space-between">
                <button class="previous-video">
                  <i class="fa-solid fa-chevron-left fa-xs"></i>
                </button>
                <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl iframe-spinner"></i>
                <button class="next-video">
                  <i class="fa-solid fa-chevron-right fa-xs"></i>
                </button>
              </div>
              <iframe id="live-news" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
            <div class="balance-history-container margin-bottom">
              <h1>Balance History</h1>
              <canvas class="balance-history" id="balance-history-chart"></canvas>
            </div>
          </div>
          <div class="dashboard flex row">
            <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <footer class="footer" id="footer-component"></footer>
    </div>
  </body>
</html>
