<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investify</title>
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/login.css">
    <link rel="stylesheet" href="./assets/styles/toast.css">
    <script src="./assets/scripts/register.js" type="module" defer></script>
    <script src="https://kit.fontawesome.com/21ac4c37bd.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="flex column expand expand-between">
      <img class="logo" src="./assets/images/logo-no-background.png" alt="Investify logo">
      <div class="container" id="register-form-component"></div>
      <div class="form__requirements">
        <h4>Username:</h4>
        <p class="invalid"><i class="fa-solid fa-xmark fa-xs"></i> Between 6 and 16 characters long</p>
        <p class="invalid"><i class="fa-solid fa-xmark fa-xs"></i> Contain only letters and numbers</p>
        <h4>Email:</h4>
        <p class="invalid"><i class="fa-solid fa-xmark fa-xs"></i> Valid email address</p>
        <h4>Password:</h4>
        <p class="invalid"><i class="fa-solid fa-xmark fa-xs"></i> Between 8 and 16 characters long</p>
        <p class="invalid"><i class="fa-solid fa-xmark fa-xs"></i> Contain at least one uppercase, one lowercase, and one number</p>
      </div>
      <footer class="footer" id="footer-component"></footer>
      <div class="toast" id="toast-component"></div>
    </div>
  </body>
</html>
