<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investify</title>
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/home.css">
    <link rel="stylesheet" href="./assets/styles/layout.css">
    <link rel="stylesheet" href="./assets/styles/sidebar.css">
    <link rel="stylesheet" href="./assets/styles/footer.css">
    <script src="./assets/scripts/home.js" type="module" defer></script>
    <script src="https://kit.fontawesome.com/21ac4c37bd.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="layout has-sidebar fixed-sidebar fixed-header">
      <div id="sidebar-component"></div>
      <div class="column expand">
        <div class="flex column div-spacing">
          <h1>Settings</h1>
          <p><%= email %></p>
        </div>
      </div>
    </div>
    <div>
      <footer class="footer" id="footer-component"></footer>
    </div>
  </body>
</html>
