<div class="footer__addr">
  <h1 class="footer__logo">Investify</h1>
  <address>
    Campinas, São Paulo (Brazil)<br />
    <a class="footer__btn" href="mailto:pedrodc51203@gmail.com">Email Us</a>
  </address>
</div>
<ul class="footer__nav">
  <li class="nav__item">
    <h2 class="nav__title">Contact</h2>
    <ul class="nav__ul">
      <li>
        <a>+55 (19) 99741-0220</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/pedro-carvalho-a92bab210/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/pedrodcarvalho"><i class="fa-brands fa-github"></i> GitHub</a>
      </li>
    </ul>
  </li>
  <li class="nav__item">
    <h2 class="nav__title">About</h2>
    <ul class="nav__ul">
      <li>
        <a href="#">Who we are</a>
      </li>
      <li>
        <a href="#">Our purpose</a>
      </li>
    </ul>
  </li>
  <li class="nav__item">
    <h2 class="nav__title">Legal</h2>
    <ul class="nav__ul">
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms of Use</a>
      </li>
    </ul>
  </li>
</ul>
<div class="legal">
  <p>&copy; 2023 <b>Investify</b>. All rights reserved.</p>
  <div class="legal__links">
    <span>Made with <span class="heart">♥</span> from <b>Investify Group</b></span>
  </div>
</div>
