<form action="/login" method="POST" class="form login">
  <div class="form__field">
    <label for="login__username">
      <i class="fa-solid fa-user"></i>
    </label>
    <input autocomplete="username" id="login__username" type="text" name="username" class="form__input" placeholder="Username" maxlength="16" required />
  </div>
  <div class="form__field">
    <label for="login__password">
      <i class="fa-solid fa-lock"></i>
    </label>
    <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" maxlength="16" required />
    <i class="fa-solid fa-eye eye"></i>
  </div>
  <div class="form__field">
    <input type="submit" value="Sign In" />
  </div>
</form>
<p class="text--center">Don't have an account yet? <a href="/register">Register now!</a> <i class="fa-solid fa-arrow-right"></i></p>
