<div class="toast-content">
  <i class="fa-solid fa-exclamation error"></i>
  <div class="message">
    <span class="text text-1"><%= toast.title %></span>
    <span class="text text-2"><%= toast.message %></span>
  </div>
</div>
<i class="fa-solid fa-xmark close"></i>
<div class="progress red"></div>
