<% for (let i = 0; i < assets.length; i++) { %>
<tr class="mdc-data-table__row" id="<%= i %>">
  <td class="mdc-data-table__cell ticker"><a href="/quoted?ticker=<%= assets[i].ticker %>"><%= assets[i].ticker %></a></td>
  <td class="mdc-data-table__cell mdc-data-table__cell--numeric share align-center"><%= assets[i].shares %></td>
  <td class="mdc-data-table__cell type align-center"></td>
  <td class="mdc-data-table__cell mdc-data-table__cell--numeric price align-right"></td>
</tr>
<% } %>
