<% quotes.map((quote, index) => { %>
<div class="mdc-card hidden">
  <div class="flex row space-between">
    <div class="column">
      <h1><%= quote.symbol %></h1>
      <p><%= quote.longname %></p>
      <b><p><%= quote.quoteType %></p></b>
      <div class="mdc-card__ripple"></div>
    </div>
    <div class="flex column margin-bottom operation">
      <button class="mdc-button mdc-button--raised buy-button" data-ticker="<%= quote.symbol %>">
        <span class="mdc-button__label">Buy</span>
      </button>
      <button class="mdc-button mdc-button--raised sell-button">
        <span class="mdc-button__label">Sell</span>
      </button>
      <div class="row">
        <div class="add-share">+</div>
        <div class="stock-shares">1</div>
        <div class="remove-share">-</div>
      </div>
    </div>
  </div>
</div>
<% }) %>
