<h1>Total Funds: <span class="balance-digits"><%= (wallet.balance + investedMoney).toFixed(2) %><i class="dolar-sign">$</i></span></h1>
<h2>Invested Funds: <span class="balance-digits"><%= investedMoney.toFixed(2) %><i class="dolar-sign">$</i></span></h2>
<h3>Idle Funds: <span class="balance-digits"><%= wallet.balance.toFixed(2) %><i class="dolar-sign">$</i></span></h3>
